################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StatlerWaldorfCorp.TeamService/.vs/StatlerWaldorfCorp.TeamService/v15
/StatlerWaldorfCorp.TeamService/.vs/StatlerWaldorfCorp/v15/Server/sqlite3
